body {
    background-color: #FCFFF2;
    font-family: "Times New Roman";
}
header {
    height: 70px;
}
main {
    height: auto;
    width: fit-content;
    padding: 1.5%;
    position: relative;
    background-color: cornsilk;
    display:flex;
    flex-direction: column;
}
h1 {
    text-align: center;
}
footer {
    text-align: center; 
}
#menu {
    background-color: #EB2E2E;
    padding: 0.5%;
}
button {
    background-color: #EB2E3F;  
    color: #000000;
}
